/* Icons Size */
.bio-link-icon.small {
    font-size: 32px;
  }
  .bio-link-icon.medium {
    font-size: 64px;
  }
  .bio-link-icon.large {
    font-size: 128px;
  }

  .bio-link-social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .bio-link-social-icons .bio-link-icon {
    margin: 0 5px;
  }

 
  /* Vertical CTA Links */
  .bio-link-cta-buttons-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .bio-link-cta-buttons-vertical .bio-link-cta {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  