/* Center widget */
.bio-link-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px
}

.bio-link-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bio-link-content-center .bio-link-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-link-content-center .bio-link-social-icons {
  display: flex;
  justify-content: center;
}

.bio-link-content-center .bio-link-cta-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* button length */
.bio-link-cta {
  width: 100%;
  text-align: center;
}



  .bio-link-social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .bio-link-social-icons .bio-link-icon {
    margin: 0 5px;
  }

 
  /* Vertical CTA Links */
  .bio-link-cta-buttons-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .bio-link-cta-buttons-vertical .bio-link-cta {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
/* Heading and Subheaidn spacing */
.bio-link-info {
  display: flex;
  flex-direction: column; 
  gap: 4px;

}